# Load needed libraries

In [2]:
import numpy as np
import pandas as pd

In [3]:
U2_New_Combine_Data = pd.read_csv('U2NewCombinedFeatureswithInterFactors.csv')
U2_New_Combine_Data

,FirstLayer_task_speed_factor_1,FirstLayer_task_share_factor_1,FirstLayer_task_speed_factor_2,playerName,U2PostScoreLevel,FirstLayer_arg_freq_factor_1,FirstLayer_arg_freq_factor_2,FirstLayer_arg_freq_factor_3,FirstLayer_arg_freq_factor_4,FirstLayer_arg_speed_factor_1,...,biggerArgScore,SecondLayer_item_Inter_factor_3,SecondLayer_item_Inter_factor_4,ThirdLayer_Inter_factor_1,ThirdLayer_Inter_factor_2,ThirdLayer_Inter_factor_3,ThirdLayer_Inter_factor_4,ThirdLayer_Inter_factor_5,ThirdLayer_Inter_factor_6,ThirdLayer_Inter_factor_7
0,228,304,59,0,0,161,100,43,269,106,...,303,150,176,159,160,123,315,74,20,26
1,91,252,42,1,1,80,290,27,258,198,...,290,248,207,20,17,287,283,180,258,75
2,130,172,4,2,0,287,31,48,115,248,...,29,40,315,171,224,272,191,12,286,21
3,193,201,73,2,0,27,53,53,222,66,...,183,190,224,233,126,93,66,21,33,12
4,288,293,163,3,0,43,145,31,194,127,...,73,56,251,114,214,44,179,147,143,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,71,26,53,243,1,77,257,45,135,226,...,268,291,54,119,100,180,52,36,109,86
317,299,97,131,244,0,256,306,1,297,302,...,59,267,221,261,165,245,216,16,11,36
318,139,154,297,245,0,64,307,27,228,176,...,165,125,144,193,43,145,202,6,16,236
319,199,309,181,246,0,260,36,45,179,103,...,118,29,25,315,139,198,294,86,223,256
320,275,218,182,289,1,172,283,37,287,293,...,283,307,17,62,174,16,273,133,228,178

In [4]:
U2_Task_Speed_transformed = U2_New_Combine_Data[['FirstLayer_task_speed_factor_1','FirstLayer_task_speed_factor_2','playerName','U2PostScoreLevel']]
U2_Task_Speed_transformed

,FirstLayer_task_speed_factor_1,FirstLayer_task_speed_factor_2,playerName,U2PostScoreLevel
0,228,59,0,0
1,91,42,1,1
2,130,4,2,0
3,193,73,2,0
4,288,163,3,0
...,...,...,...,...
316,71,53,243,1
317,299,131,244,0
318,139,297,245,0
319,199,181,246,0
320,275,182,289,1

In [6]:
U2_Task_Speed_transformed.to_csv('FirstLayerLattentVariables/U2_Task_Speed_transformed.csv', index = False)

In [7]:
U2_Task_Share_transformed = U2_New_Combine_Data[['FirstLayer_task_share_factor_1','playerName','U2PostScoreLevel']]
U2_Task_Share_transformed

     FirstLayer_task_share_factor_1  playerName  U2PostScoreLevel
0                               304           0                 0
1                               252           1                 1
2                               172           2                 0
3                               201           2                 0
4                               293           3                 0
..                              ...         ...               ...
316                              26         243                 1
317                              97         244                 0
318                             154         245                 0
319                             309         246                 0
320                             218         289                 1

[321 rows x 3 columns]

In [8]:
U2_Task_Share_transformed.to_csv('FirstLayerLattentVariables/U2_Task_Share_transformed.csv', index = False)

In [9]:
U2_Arg_freq_transformed = U2_New_Combine_Data[['FirstLayer_arg_freq_factor_1','FirstLayer_arg_freq_factor_2','FirstLayer_arg_freq_factor_3','FirstLayer_arg_freq_factor_4','playerName','U2PostScoreLevel']]
U2_Arg_freq_transformed

,FirstLayer_arg_freq_factor_1,FirstLayer_arg_freq_factor_2,FirstLayer_arg_freq_factor_3,FirstLayer_arg_freq_factor_4,playerName,U2PostScoreLevel
0,161,100,43,269,0,0
1,80,290,27,258,1,1
2,287,31,48,115,2,0
3,27,53,53,222,2,0
4,43,145,31,194,3,0
...,...,...,...,...,...,...
316,77,257,45,135,243,1
317,256,306,1,297,244,0
318,64,307,27,228,245,0
319,260,36,45,179,246,0
320,172,283,37,287,289,1

In [10]:
U2_Arg_freq_transformed.to_csv('FirstLayerLattentVariables/U2_Arg_Freq_transformed.csv', index = False)

In [11]:
U2_Arg_speed_transformed = U2_New_Combine_Data[['FirstLayer_arg_speed_factor_1','FirstLayer_arg_speed_factor_2','FirstLayer_arg_speed_factor_3','FirstLayer_arg_speed_factor_4','FirstLayer_arg_speed_factor_5','playerName','U2PostScoreLevel']]
U2_Arg_speed_transformed

,FirstLayer_arg_speed_factor_1,FirstLayer_arg_speed_factor_2,FirstLayer_arg_speed_factor_3,FirstLayer_arg_speed_factor_4,FirstLayer_arg_speed_factor_5,playerName,U2PostScoreLevel
0,106,150,44,287,126,0,0
1,198,79,89,108,160,1,1
2,248,61,166,209,149,2,0
3,66,169,5,217,29,2,0
4,127,149,53,99,71,3,0
...,...,...,...,...,...,...,...
316,226,54,200,106,47,243,1
317,302,1,254,149,53,244,0
318,176,30,218,8,192,245,0
319,103,144,55,268,219,246,0
320,293,45,125,59,137,289,1

In [12]:
U2_Arg_speed_transformed.to_csv('FirstLayerLattentVariables/U2_Arg_speed_transformed.csv', index = False)

In [13]:
U2_Arg_share_transformed = U2_New_Combine_Data[['FirstLayer_arg_share_factor_1','FirstLayer_arg_share_factor_2','FirstLayer_arg_share_factor_3','FirstLayer_arg_share_factor_4','playerName','U2PostScoreLevel']]
U2_Arg_share_transformed

,FirstLayer_arg_share_factor_1,FirstLayer_arg_share_factor_2,FirstLayer_arg_share_factor_3,FirstLayer_arg_share_factor_4,playerName,U2PostScoreLevel
0,11,270,91,61,0,0
1,46,145,134,71,1,1
2,221,149,216,25,2,0
3,78,286,22,36,2,0
4,120,281,10,67,3,0
...,...,...,...,...,...,...
316,151,241,124,32,243,1
317,285,244,239,5,244,0
318,185,104,199,31,245,0
319,81,259,180,61,246,0
320,102,255,97,19,289,1

In [14]:
U2_Arg_share_transformed.to_csv('FirstLayerLattentVariables/U2_Arg_share_transformed.csv', index = False)

In [5]:
U2_hotkey_freq_transformed = U2_New_Combine_Data[['FirstLayer_hotkey_freq_factor_1','FirstLayer_hotkey_freq_factor_2','FirstLayer_hotkey_freq_factor_3','FirstLayer_hotkey_freq_factor_4','FirstLayer_hotkey_freq_factor_5','playerName','U2PostScoreLevel']]
U2_hotkey_freq_transformed

,FirstLayer_hotkey_freq_factor_1,FirstLayer_hotkey_freq_factor_2,FirstLayer_hotkey_freq_factor_3,FirstLayer_hotkey_freq_factor_4,FirstLayer_hotkey_freq_factor_5,playerName,U2PostScoreLevel
0,19,139,181,54,139,0,0
1,265,30,75,232,17,1,1
2,73,147,134,281,246,2,0
3,23,199,145,229,88,2,0
4,163,89,27,85,284,3,0
...,...,...,...,...,...,...,...
316,102,107,20,171,273,243,1
317,93,218,110,127,57,244,0
318,25,183,189,49,120,245,0
319,161,281,170,204,59,246,0
320,71,11,243,119,197,289,1

In [7]:
U2_hotkey_freq_transformed.to_csv('FirstLayerLattentVariables/U2_hotkey_freq_transformed.csv', index = False)

In [8]:
U2_hotkey_share_transformed = U2_New_Combine_Data[['FirstLayer_hotkey_share_factor_1','FirstLayer_hotkey_share_factor_2','FirstLayer_hotkey_share_factor_3','playerName','U2PostScoreLevel']]
U2_hotkey_share_transformed

,FirstLayer_hotkey_share_factor_1,FirstLayer_hotkey_share_factor_2,FirstLayer_hotkey_share_factor_3,playerName,U2PostScoreLevel
0,173,104,168,0,0
1,25,258,71,1,1
2,90,91,258,2,0
3,189,181,256,2,0
4,69,44,68,3,0
...,...,...,...,...,...
316,104,47,112,243,1
317,278,9,29,244,0
318,158,99,188,245,0
319,153,245,234,246,0
320,127,190,133,289,1

In [9]:
U2_hotkey_share_transformed.to_csv('FirstLayerLattentVariables/U2_hotkey_share_transformed.csv', index = False)

In [10]:
U2_dialogue_freq_transformed = U2_New_Combine_Data[['FirstLayer_dialogue_freq_factor_1','FirstLayer_dialogue_freq_factor_2','FirstLayer_dialogue_freq_factor_3',
                                                    'FirstLayer_dialogue_freq_factor_4','FirstLayer_dialogue_freq_factor_5','playerName','U2PostScoreLevel']]
U2_dialogue_freq_transformed

,FirstLayer_dialogue_freq_factor_1,FirstLayer_dialogue_freq_factor_2,FirstLayer_dialogue_freq_factor_3,FirstLayer_dialogue_freq_factor_4,FirstLayer_dialogue_freq_factor_5,playerName,U2PostScoreLevel
0,139,86,273,242,141,0,0
1,25,262,21,16,274,1,1
2,222,80,275,207,259,2,0
3,97,138,226,201,56,2,0
4,97,138,226,201,56,3,0
...,...,...,...,...,...,...,...
316,158,68,106,153,127,243,1
317,104,75,6,78,167,244,0
318,54,258,156,79,128,245,0
319,231,127,248,154,243,246,0
320,53,120,234,238,122,289,1

In [11]:
U2_dialogue_freq_transformed.to_csv('FirstLayerLattentVariables/U2_dialogue_freq_transformed.csv', index = False)

In [12]:
U2_dialogue_speed_transformed = U2_New_Combine_Data[['FirstLayer_dialogue_speed_factor_1','FirstLayer_dialogue_speed_factor_2','FirstLayer_dialogue_speed_factor_3',
                                                    'FirstLayer_dialogue_speed_factor_4','FirstLayer_dialogue_speed_factor_5','FirstLayer_dialogue_speed_factor_6',
                                                     'FirstLayer_dialogue_speed_factor_7','playerName','U2PostScoreLevel']]
U2_dialogue_speed_transformed

,FirstLayer_dialogue_speed_factor_1,FirstLayer_dialogue_speed_factor_2,FirstLayer_dialogue_speed_factor_3,FirstLayer_dialogue_speed_factor_4,FirstLayer_dialogue_speed_factor_5,FirstLayer_dialogue_speed_factor_6,FirstLayer_dialogue_speed_factor_7,playerName,U2PostScoreLevel
0,210,32,53,34,274,153,87,0,0
1,266,10,47,175,216,311,247,1,1
2,18,231,153,73,201,173,89,2,0
3,38,168,147,10,272,54,169,2,0
4,38,168,147,44,178,69,170,3,0
...,...,...,...,...,...,...,...,...,...
316,203,91,134,80,55,242,177,243,1
317,177,73,64,20,287,203,265,244,0
318,112,186,28,82,219,37,112,245,0
319,77,77,203,299,116,220,28,246,0
320,19,230,212,18,259,100,157,289,1

In [13]:
U2_dialogue_speed_transformed.to_csv('FirstLayerLattentVariables/U2_dialogue_speed_transformed.csv', index = False)

In [14]:
U2_dialogue_share_transformed = U2_New_Combine_Data[['FirstLayer_dialogue_share_factor_1','FirstLayer_dialogue_share_factor_2','FirstLayer_dialogue_share_factor_3',
                                                    'FirstLayer_dialogue_share_factor_4','playerName','U2PostScoreLevel']]
U2_dialogue_share_transformed

,FirstLayer_dialogue_share_factor_1,FirstLayer_dialogue_share_factor_2,FirstLayer_dialogue_share_factor_3,FirstLayer_dialogue_share_factor_4,playerName,U2PostScoreLevel
0,17,283,6,202,0,0
1,19,129,308,13,1,1
2,32,224,33,239,2,0
3,8,292,39,183,2,0
4,85,231,106,265,3,0
...,...,...,...,...,...,...
316,27,218,86,284,243,1
317,151,143,244,85,244,0
318,73,229,152,28,245,0
319,270,121,40,218,246,0
320,107,199,80,230,289,1

In [15]:
U2_dialogue_share_transformed.to_csv('FirstLayerLattentVariables/U2_dialogue_share_transformed.csv', index = False)

In [16]:
U2_behaviorType_freq_transformed = U2_New_Combine_Data[['FirstLayer_behaviorType_freq_factor_1','playerName','U2PostScoreLevel']]
U2_behaviorType_freq_transformed

     FirstLayer_behaviorType_freq_factor_1  playerName  U2PostScoreLevel
0                                       29           0                 0
1                                      269           1                 1
2                                      277           2                 0
3                                      219           2                 0
4                                       96           3                 0
..                                     ...         ...               ...
316                                    312         243                 1
317                                    287         244                 0
318                                    308         245                 0
319                                    200         246                 0
320                                    286         289                 1

[321 rows x 3 columns]

In [17]:
U2_behaviorType_freq_transformed.to_csv('FirstLayerLattentVariables/U2_behaviorType_freq_transformed.csv', index = False)

In [18]:
U2_behaviorType_speed_transformed = U2_New_Combine_Data[['FirstLayer_behaviorType_speed_factor_1','playerName','U2PostScoreLevel']]
U2_behaviorType_speed_transformed

     FirstLayer_behaviorType_speed_factor_1  playerName  U2PostScoreLevel
0                                       120           0                 0
1                                       191           1                 1
2                                        96           2                 0
3                                       145           2                 0
4                                       277           3                 0
..                                      ...         ...               ...
316                                      79         243                 1
317                                      22         244                 0
318                                      65         245                 0
319                                      20         246                 0
320                                      44         289                 1

[321 rows x 3 columns]

In [19]:
U2_behaviorType_speed_transformed.to_csv('FirstLayerLattentVariables/U2_behaviorType_speed_transformed.csv', index = False)

In [20]:
U2_behaviorType_share_transformed = U2_New_Combine_Data[['FirstLayer_behaviorType_share_factor_1','playerName','U2PostScoreLevel']]
U2_behaviorType_share_transformed

     FirstLayer_behaviorType_share_factor_1  playerName  U2PostScoreLevel
0                                       269           0                 0
1                                       116           1                 1
2                                        76           2                 0
3                                       251           2                 0
4                                        84           3                 0
..                                      ...         ...               ...
316                                     129         243                 1
317                                      91         244                 0
318                                     114         245                 0
319                                     108         246                 0
320                                      32         289                 1

[321 rows x 3 columns]

In [21]:
U2_behaviorType_share_transformed.to_csv('FirstLayerLattentVariables/U2_behaviorType_share_transformed.csv', index = False)

In [22]:
U2_tool_freq_transformed = U2_New_Combine_Data[['FirstLayer_tool_freq_factor_1','FirstLayer_tool_freq_factor_2','playerName','U2PostScoreLevel']]
U2_tool_freq_transformed

,FirstLayer_tool_freq_factor_1,FirstLayer_tool_freq_factor_2,playerName,U2PostScoreLevel
0,243,40,0,0
1,28,315,1,1
2,318,305,2,0
3,276,171,2,0
4,177,270,3,0
...,...,...,...,...
316,105,111,243,1
317,197,97,244,0
318,236,82,245,0
319,166,13,246,0
320,167,74,289,1

In [23]:
U2_tool_freq_transformed.to_csv('FirstLayerLattentVariables/U2_tool_freq_transformed.csv', index = False)

In [24]:
U2_tool_speed_transformed = U2_New_Combine_Data[['FirstLayer_tool_speed_factor_1','FirstLayer_tool_speed_factor_2','playerName','U2PostScoreLevel']]
U2_tool_speed_transformed

,FirstLayer_tool_speed_factor_1,FirstLayer_tool_speed_factor_2,playerName,U2PostScoreLevel
0,203,9,0,0
1,181,94,1,1
2,13,192,2,0
3,109,178,2,0
4,254,228,3,0
...,...,...,...,...
316,139,38,243,1
317,270,256,244,0
318,180,141,245,0
319,172,101,246,0
320,306,12,289,1

In [25]:
U2_tool_speed_transformed.to_csv('FirstLayerLattentVariables/U2_tool_speed_transformed.csv', index = False)

In [26]:
U2_tool_share_transformed = U2_New_Combine_Data[['FirstLayer_tool_share_factor_1','FirstLayer_tool_share_factor_2','playerName','U2PostScoreLevel']]
U2_tool_share_transformed

,FirstLayer_tool_share_factor_1,FirstLayer_tool_share_factor_2,playerName,U2PostScoreLevel
0,311,11,0,0
1,184,158,1,1
2,300,162,2,0
3,30,258,2,0
4,126,233,3,0
...,...,...,...,...
316,65,218,243,1
317,101,122,244,0
318,113,193,245,0
319,269,76,246,0
320,131,236,289,1

In [27]:
U2_tool_share_transformed.to_csv('FirstLayerLattentVariables/U2_tool_share_transformed.csv', index = False)

In [28]:
U2_itemInter_freq_transformed = U2_New_Combine_Data[['FirstLayer_itemInter_freq_factor_1','playerName','U2PostScoreLevel']]
U2_itemInter_freq_transformed

     FirstLayer_itemInter_freq_factor_1  playerName  U2PostScoreLevel
0                                   191           0                 0
1                                   277           1                 1
2                                   272           2                 0
3                                   187           2                 0
4                                    88           3                 0
..                                  ...         ...               ...
316                                  96         243                 1
317                                  22         244                 0
318                                  46         245                 0
319                                 176         246                 0
320                                 178         289                 1

[321 rows x 3 columns]

In [29]:
U2_itemInter_freq_transformed.to_csv('FirstLayerLattentVariables/U2_itemInter_freq_transformed.csv', index = False)

In [30]:
U2_itemInter_share_transformed = U2_New_Combine_Data[['FirstLayer_itemInter_share_factor_1','playerName','U2PostScoreLevel']]
U2_itemInter_share_transformed

     FirstLayer_itemInter_share_factor_1  playerName  U2PostScoreLevel
0                                    238           0                 0
1                                    304           1                 1
2                                    265           2                 0
3                                     23           2                 0
4                                    116           3                 0
..                                   ...         ...               ...
316                                  215         243                 1
317                                  200         244                 0
318                                  107         245                 0
319                                  170         246                 0
320                                   44         289                 1

[321 rows x 3 columns]

In [31]:
U2_itemInter_share_transformed.to_csv('FirstLayerLattentVariables/U2_itemInter_share_transformed.csv', index = False)

In [34]:
U2_itemInter_Inter_transformed = U2_New_Combine_Data[['SecondLayer_item_inter_factor_1','SecondLayer_item_Inter_factor_2',
                                                      'SecondLayer_item_Inter_factor_3','SecondLayer_item_Inter_factor_4',
                                                      'playerName','U2PostScoreLevel']]
U2_itemInter_Inter_transformed

,SecondLayer_item_inter_factor_1,SecondLayer_item_Inter_factor_2,SecondLayer_item_Inter_factor_3,SecondLayer_item_Inter_factor_4,playerName,U2PostScoreLevel
0,0,32,150,176,0,0
1,1,287,248,207,1,1
2,1,46,40,315,2,0
3,1,115,190,224,2,0
4,0,141,56,251,3,0
...,...,...,...,...,...,...
316,1,75,291,54,243,1
317,1,114,267,221,244,0
318,1,272,125,144,245,0
319,0,64,29,25,246,0
320,1,97,307,17,289,1

In [35]:
U2_itemInter_Inter_transformed.to_csv('SecondLayerLattentVariables/U2_itemInter_Inter_transformed.csv', index = False)

In [36]:
U2_arg_Inter_transformed = U2_New_Combine_Data[['SecondLayer_arg_Inter_factor_1','SecondLayer_arg_Inter_factor_2','playerName','U2PostScoreLevel']]
U2_arg_Inter_transformed

,SecondLayer_arg_Inter_factor_1,SecondLayer_arg_Inter_factor_2,playerName,U2PostScoreLevel
0,1,142,0,0
1,1,198,1,1
2,0,40,2,0
3,0,41,2,0
4,0,4,3,0
...,...,...,...,...
316,1,153,243,1
317,1,80,244,0
318,1,199,245,0
319,1,91,246,0
320,1,141,289,1

In [37]:
U2_arg_Inter_transformed.to_csv('SecondLayerLattentVariables/U2_arg_Inter_transformed.csv', index = False)

In [38]:
U2_task_Inter_transformed = U2_New_Combine_Data[['SecondLayer_task_Inter_factor_1','playerName','U2PostScoreLevel']]
U2_task_Inter_transformed

     SecondLayer_task_Inter_factor_1  playerName  U2PostScoreLevel
0                                176           0                 0
1                                309           1                 1
2                                 43           2                 0
3                                 38           2                 0
4                                 41           3                 0
..                               ...         ...               ...
316                              258         243                 1
317                              188         244                 0
318                               39         245                 0
319                               33         246                 0
320                              111         289                 1

[321 rows x 3 columns]

In [39]:
U2_task_Inter_transformed.to_csv('SecondLayerLattentVariables/U2_task_Inter_transformed.csv', index = False)

In [40]:
U2_hotkey_Inter_transformed = U2_New_Combine_Data[['SecondLayer_hotkey_Inter_factor_1','playerName','U2PostScoreLevel']]
U2_hotkey_Inter_transformed

     SecondLayer_hotkey_Inter_factor_1  playerName  U2PostScoreLevel
0                                  275           0                 0
1                                  204           1                 1
2                                  184           2                 0
3                                  225           2                 0
4                                  176           3                 0
..                                 ...         ...               ...
316                                111         243                 1
317                                 16         244                 0
318                                132         245                 0
319                                125         246                 0
320                                195         289                 1

[321 rows x 3 columns]

In [41]:
U2_hotkey_Inter_transformed.to_csv('SecondLayerLattentVariables/U2_hotkey_Inter_transformed.csv', index = False)

In [42]:
U2_tool_Inter_transformed = U2_New_Combine_Data[['SecondLayer_tool_Inter_factor_1','playerName','U2PostScoreLevel']]
U2_tool_Inter_transformed

     SecondLayer_tool_Inter_factor_1  playerName  U2PostScoreLevel
0                                245           0                 0
1                                 16           1                 1
2                                314           2                 0
3                                233           2                 0
4                                213           3                 0
..                               ...         ...               ...
316                               85         243                 1
317                              180         244                 0
318                               43         245                 0
319                              306         246                 0
320                               31         289                 1

[321 rows x 3 columns]

In [43]:
U2_tool_Inter_transformed.to_csv('SecondLayerLattentVariables/U2_tool_Inter_transformed.csv', index = False)

In [44]:
U2_dialogue_Inter_transformed = U2_New_Combine_Data[['SecondLayer_dialogue_Inter_factor_1','SecondLayer_dialogue_Inter_factor_2',
                                                     'SecondLayer_dialogue_Inter_factor_3','playerName','U2PostScoreLevel']]
U2_dialogue_Inter_transformed

,SecondLayer_dialogue_Inter_factor_1,SecondLayer_dialogue_Inter_factor_2,SecondLayer_dialogue_Inter_factor_3,playerName,U2PostScoreLevel
0,292,262,257,0,0
1,67,31,95,1,1
2,291,188,293,2,0
3,206,265,280,2,0
4,239,211,247,3,0
...,...,...,...,...,...
316,77,119,114,243,1
317,9,4,291,244,0
318,178,212,277,245,0
319,278,169,130,246,0
320,272,235,292,289,1

In [45]:
U2_dialogue_Inter_transformed.to_csv('SecondLayerLattentVariables/U2_dialogue_Inter_transformed.csv', index = False)

In [46]:
U2_map_share_size_transformed = U2_New_Combine_Data[['FirstLayer_map_share_size_factor_1','FirstLayer_map_share_size_factor_2',
                                                     'playerName','U2PostScoreLevel']]
U2_map_share_size_transformed

,FirstLayer_map_share_size_factor_1,FirstLayer_map_share_size_factor_2,playerName,U2PostScoreLevel
0,0,0,0,0
1,0,0,1,1
2,1,1,2,0
3,1,1,2,0
4,1,1,3,0
...,...,...,...,...
316,1,1,243,1
317,1,1,244,0
318,1,1,245,0
319,1,1,246,0
320,1,0,289,1

In [47]:
U2_map_share_size_transformed.to_csv('FirstLayerLattentVariables/U2_map_share_size_transformed.csv', index = False)

In [48]:
U2_thirdLayer_inter_transformed = U2_New_Combine_Data[['ThirdLayer_Inter_factor_1','ThirdLayer_Inter_factor_2','ThirdLayer_Inter_factor_3',
                                                       'ThirdLayer_Inter_factor_4','ThirdLayer_Inter_factor_5','ThirdLayer_Inter_factor_6',
                                                       'ThirdLayer_Inter_factor_7',
                                                     'playerName','U2PostScoreLevel']]
U2_thirdLayer_inter_transformed

,ThirdLayer_Inter_factor_1,ThirdLayer_Inter_factor_2,ThirdLayer_Inter_factor_3,ThirdLayer_Inter_factor_4,ThirdLayer_Inter_factor_5,ThirdLayer_Inter_factor_6,ThirdLayer_Inter_factor_7,playerName,U2PostScoreLevel
0,159,160,123,315,74,20,26,0,0
1,20,17,287,283,180,258,75,1,1
2,171,224,272,191,12,286,21,2,0
3,233,126,93,66,21,33,12,2,0
4,114,214,44,179,147,143,102,3,0
...,...,...,...,...,...,...,...,...,...
316,119,100,180,52,36,109,86,243,1
317,261,165,245,216,16,11,36,244,0
318,193,43,145,202,6,16,236,245,0
319,315,139,198,294,86,223,256,246,0
320,62,174,16,273,133,228,178,289,1

In [50]:
U2_thirdLayer_inter_transformed.to_csv('ThirdLayerLatentFeatures/U2_thirdLayer_Inter_transformed.csv', index = False)

In [31]:
U2_first_second_layer_transformed_features = U2_New_Combine_Data.drop(['ThirdLayer_Inter_factor_1','ThirdLayer_Inter_factor_2','ThirdLayer_Inter_factor_3',
                                                                      'ThirdLayer_Inter_factor_4','ThirdLayer_Inter_factor_5','ThirdLayer_Inter_factor_6',
                                                                      'ThirdLayer_Inter_factor_7', 'CREIScore', 'findTeamAveScore', 'PREU2', 'JasperCritiqueScore',
                                                                                'biggerArgScore','CREIScore'],axis=1)

In [32]:
list(U2_first_second_layer_transformed_features.columns)

['FirstLayer_task_speed_factor_1',
 'FirstLayer_task_share_factor_1',
 'FirstLayer_task_speed_factor_2',
 'playerName',
 'U2PostScoreLevel',
 'FirstLayer_arg_freq_factor_1',
 'FirstLayer_arg_freq_factor_2',
 'FirstLayer_arg_freq_factor_3',
 'FirstLayer_arg_freq_factor_4',
 'FirstLayer_arg_speed_factor_1',
 'FirstLayer_arg_speed_factor_2',
 'FirstLayer_arg_speed_factor_3',
 'FirstLayer_arg_speed_factor_4',
 'FirstLayer_arg_speed_factor_5',
 'FirstLayer_arg_share_factor_1',
 'FirstLayer_arg_share_factor_2',
 'FirstLayer_arg_share_factor_3',
 'FirstLayer_arg_share_factor_4',
 'FirstLayer_hotkey_freq_factor_1',
 'FirstLayer_hotkey_freq_factor_2',
 'FirstLayer_hotkey_freq_factor_3',
 'FirstLayer_hotkey_freq_factor_4',
 'FirstLayer_hotkey_freq_factor_5',
 'FirstLayer_hotkey_share_factor_1',
 'FirstLayer_hotkey_share_factor_2',
 'FirstLayer_hotkey_share_factor_3',
 'FirstLayer_dialogue_freq_factor_1',
 'FirstLayer_dialogue_freq_factor_2',
 'FirstLayer_dialogue_freq_factor_3',
 'FirstLayer_dialogue_freq_factor_4',
 'FirstLayer_dialogue_freq_factor_5',
 'FirstLayer_dialogue_speed_factor_1',
 'FirstLayer_dialogue_speed_factor_2',
 'FirstLayer_dialogue_speed_factor_3',
 'FirstLayer_dialogue_speed_factor_4',
 'FirstLayer_dialogue_speed_factor_5',
 'FirstLayer_dialogue_speed_factor_6',
 'FirstLayer_dialogue_speed_factor_7',
 'FirstLayer_dialogue_share_factor_1',
 'FirstLayer_dialogue_share_factor_2',
 'FirstLayer_dialogue_share_factor_3',
 'FirstLayer_dialogue_share_factor_4',
 'FirstLayer_behaviorType_freq_factor_1',
 'FirstLayer_behaviorType_speed_factor_1',
 'FirstLayer_behaviorType_share_factor_1',
 'FirstLayer_itemInter_freq_factor_1',
 'FirstLayer_itemInter_share_factor_1',
 'FirstLayer_tool_freq_factor_1',
 'FirstLayer_tool_freq_factor_2',
 'FirstLayer_tool_speed_factor_1',
 'FirstLayer_tool_speed_factor_2',
 'FirstLayer_tool_share_factor_1',
 'FirstLayer_tool_share_factor_2',
 'SecondLayer_item_inter_factor_1',
 'SecondLayer_arg_Inter_factor_1',
 'FirstLayer_map_share_size_factor_1',
 'FirstLayer_map_share_size_factor_2',
 'SecondLayer_task_Inter_factor_1',
 'SecondLayer_arg_Inter_factor_2',
 'SecondLayer_hotkey_Inter_factor_1',
 'SecondLayer_tool_Inter_factor_1',
 'SecondLayer_dialogue_Inter_factor_1',
 'SecondLayer_dialogue_Inter_factor_2',
 'SecondLayer_dialogue_Inter_factor_3',
 'SecondLayer_item_Inter_factor_2',
 'SecondLayer_item_Inter_factor_3',
 'SecondLayer_item_Inter_factor_4']

In [33]:
U2_first_second_layer_transformed_features.to_csv("FirstSecondLayerLatentFeatures/U2_first_second_layer_latent_features.csv",index=False)